<%= image_tag @pic.image.url %>

<p>
  <strong>Description:</strong>
  <%= @pic.description %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @pic.medium %>
</p>

<% if @pic.user == current_user %>
<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
<% end %>
